{% set messages = guestbook({'date': 'desc'}) %}

<!--================ Start Guestbook Area =================-->
<section class="testimonial-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="section-title">
                    <p>Узнайте мнение других или оставьте свое</p>
                    <h1>Отзывы</h1>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p>Оставьте свой отзыв о нас, для других посетителей.</p>

                <form class="row contact_form" action="/guestbook" method="post" id="guestbookForm" data-grecaptcha novalidate="novalidate">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Ваше имя">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Ваш E-Mail">
                        </div>
                        <p class="text-center text-muted">Отзыв будет добавлен после проверки модератором</p>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Ваше сообщение"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="primary-btn">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

        {% if messages.count() >= 3 %}
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="owl-carousel active-testi-carousel">
                        {% for item in guestbook({'date': 'desc'}) %}
                            <!-- single carousel -->
                            <div class="single-testi-item">
                                <div class="author-title">
                                    <div class="a-desc">
                                        <h6>{{ item.name }} ({{ item.email }})</h6>
                                        <p class="text-center">{{ item.date|df }}</p>
                                    </div>
                                </div>
                                <div class="author-desc">
                                    <p>{{ item.message|raw|nl2br }}</p>

                                    {% if item.response is not empty %}
                                        <span style="margin: 0; padding: 0;">
                                            <b>Ответ:</b> {{ item.response|raw|nl2br }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
<!--================ End Guestbook Area =================-->

<!--================Guestbook Success and Error message Area =================-->
<div class="modal modal-message fade" id="success" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <i class="fa fa-close"></i>
                </button>
                <h2>Спасибо</h2>
                <p>Ваш отзыв успешно отправлен!</p>
            </div>
        </div>
    </div>
</div>

<!-- Modals error -->
<div class="modal modal-message fade" id="error" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <i class="fa fa-close"></i>
                </button>
                <h2>Упс!</h2>
                <p>Что-то пошло как всегда..</p>
            </div>
        </div>
    </div>
</div>
<!--================End Guestbook Success and Error message Area =================-->
