{% extends 'page.twig' %}

{% set meta = publication.meta %}

{% block bodyinner %}
    <!--================Home Banner Area =================-->
    <section class="banner_area ">
        <div class="banner_inner overlay d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-left">
                    <div class="page_link">
                        <a href="/">Главная</a>
                        <a href="/{{ category.address }}">{{ category.title }}</a>
                        <a href="/{{ publication.address }}">{{ publication.title }}</a>
                    </div>
                    <h2>{{ publication.title }}</h2>
                    <p>{{ publication.content.short|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    {% block page %}
        <!--================ Start Project Details Area =================-->
        <section class="project-details section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="service-img">
                            <img class="img-fluid" src="{{ files.firstWhere('item_uuid', publication.uuid).getPublicPath() }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-6">
                        <!-- single service -->
                        <div class="single-details">
                            <h4>{{ publication.title }}</h4>

                            {{ publication.content.full|raw }}

                            <ul class="list">
                                <li><span>Клиент</span>: FrashNails</li>
                                <li><span>Сайт</span>: -</li>
                                <li><span>Дата</span>: {{ publication.date|df }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Project Details Area =================-->
    {% endblock %}
{% endblock %}
