{% set category = categories.firstWhere('uuid', item.category) %}

<!-- single gallery -->
<div class="single-gallery">
    <img class="img-fluid" src="{{ files.firstWhere('item_uuid', item.uuid).getPublicPath() }}" alt="{{ item.title }}">
    <div class="gallery-content">
        <p>{{ item.title }}</p>
        <h4>{{ item.content.short|raw }}</h4>
    </div>
    <div class="light-box">
        <a href="/{{ item.address }}" class="img-popup">
            <span class="lnr lnr-link"></span>
        </a>
    </div>
</div>
