{% set category = categories.firstWhere('uuid', item.category) %}

<article class="row blog_item">
    <div class="col-md-3">
        <div class="blog_info text-right">
            <ul class="blog_meta list">
                <li><a href="{{ category.address }}">{{ category.title }}</a></li>
                <li><a href="#">{{ item.date|df }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="blog_post">
            <div class="blog_details">
                <a href="/{{ item.address }}"><h2>{{ item.title }}</h2></a>
                {{ item.content.short|raw }}
                <a href="/{{ item.address }}" class="blog_btn">Читать дальше</a>
            </div>
        </div>
    </div>
</article>
