{% extends 'main.twig' %}

{% set meta = publication.meta %}

{% block bodyinner %}
    <!--================Home Banner Area =================-->
    <section class="banner_area ">
        <div class="banner_inner overlay d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-left">
                    <div class="page_link">
                        <a href="/">Главная</a>
                        <a href="/{{ category.address }}">{{ category.title }}</a>
                        <a href="/{{ publication.address }}">{{ publication.title }}</a>
                    </div>
                    <h2>{{ publication.title }}</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    {% block page %}
        <!--================Blog Area =================-->
        <section class="blog_area single-post-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post row">
                            <div class="col-lg-3 col-md-3">
                                <div class="blog_info text-right">
                                    <ul class="blog_meta list">
                                        <li><a href="{{ category.address }}">{{ category.title }}</a></li>
                                        <li><a href="#">{{ publication.date|df }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 blog_details">
                                <h2>{{ publication.title }}</h2>

                                {{ publication.content.full|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Другие категории</h4>
                                <ul class="list cat-list">
                                    {% include 'publication.menu.twig' with {'categories':categories} only %}
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
    {% endblock %}
{% endblock %}
